body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.principal {
    margin-top: 20px;
}

.principal > div {
    margin-bottom: 20px;
}

.principal label {
    display: block;
    margin-bottom: 5px;
}

.principal input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.registro {
    text-align: center;
}

.boton {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}